.definition {
    color: rgb(181, 32, 37); //#b52025
}

.mycolor0 {
    color: rgb(0, 128, 0); //#008000
}

.mycolor1 {
    color: rgb(82, 79, 161); //#524fa1
}

.mycolor2 {
    color: rgb(0, 187, 214); //#00bbd6
}

.mycolor3 {
    color: rgb(146, 215, 231); //#92d7e7
}

.mycolor4 {
    color: rgb(255, 199, 78); //#ffc74e
}

.mycolor5 {
    color: rgb(171, 193, 120); //#abc178
}

.mycolor6 {
    color: rgb(214, 194, 173); //#d6c2ad
}